body {
    margin: 0;
    padding: 0;
}
#issMap {
    height: 500px;
}
header {
    background-color: cornflowerblue;
    padding: 6px 30px;
}
header h1 {
    font-size: 18px;
    color: #eee;
}
footer {
    padding: 6px 30px;
    display: flex;
    justify-content: flex-end;
}
.table {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.col {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.center {
    justify-content: center;
    align-items: center;
}

.col p {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
button {
    width: 100px;
    height: 50px;
}
p {
    font-size: 14px;
}
